* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}


.top-container {
    background-color: #e4f9f5;
    text-align: center;
    position: relative;
}


.cloud {
    position: absolute;
    right: 400px;
    margin: 40px;
    width: 200px;
    height: 60px;
}

.top-heading {
    position: relative;
    top: 100px;
}

h1 {
    padding: 75px;
    font-size: 5.6rem;
    font-family: cursive;
    color: #66bfbf;
}

#mountain {
    margin-top: 100px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    padding-bottom: 75px;
    color: #66bfbf;
}

.humming-bird {
    position: relative;
    bottom: 250px;
    right: 200px;
    height: 80px;
    width: 80px;

}

.middle-container {
        text-align: center;
        position: relative;
}

.profile {
    margin: 20px;
}

.waving {
    height: 200px;
    width: 200px;
    padding: 50px;
}

.intro {
    font-family: 'Merriweather', serif;
    width: 30%;
    margin: auto;
}

hr {
    border: 8px dotted #eaf66e;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 6fr 6fr;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border-color: rgba(255, 255, 255, 0.2);
}

th {
    color: #66bfbf;
    font-size: large;
    background-color: rgba(255,255,255,0.2);
}

th, td {
    padding: 15px;
    font-family: 'Merriweather', serif;
}

thead {
		background-color: #e4f9f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.lang-logos {
    height: 48px;
    width: 60px;
}

.btn {
    background-color: #66bfbf;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    width: 120px;
    margin-bottom: 50px;
  }


.footer {
    text-align: center;
    background-color: #e4f9f5;
    font-size: large;
    color: #66bfbf;
    padding: 50px 0 20px;
}

.footer-link, .footer-link:visited {
    text-decoration: none;
    color: #66bfbf;
}

.copyright {
    padding-top: 30px;
}